.login-form{
    position: relative;
    top: 2.1vh;
    left: 50%;
    transform: translate(-50%);
    width: 65vh;
    height: 80vh;
    background-color: rgba(3, 49, 140,.4);
    border-radius: 2vh;
    border: .6vh solid #fff;
}